#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 6em;
  margin: 0.5rem;
  transition: transform 300ms, filter 300ms;
}
.logo:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.app-container {
  position: absolute;
  top: 10px;
  left: 10px;
}

.app-name {
  font-size: 15px;
  padding: 0.1rem;
  font-weight: bold;
  text-align: left; 
  color: #646cff;
}

.app-name-light {
  font-size: 15px;
  font-weight: normal;
  font-style: italic;
  color: black;
}


.my-name {
  text-align: center;
  margin-top: 2rem;
  font-size: 18px;
}

.my-name-bold {
  font-weight: bold;
  color: #646cff;
}


.info-text {
  position: absolute;
  bottom: 10px; /* Adjust the bottom margin as needed */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
}